deepgram-sdk==3.2.1
edge-tts==6.1.10
flask_socketio==5.3.6
langchain
langchain_core
langchain_groq
langchain_openai
langchain-community
openai-whisper
PyAudio==0.2.14
pydub==0.25.1
python-dotenv==1.0.1
sounddevice==0.4.6
TTS==0.22.0