deepgram-sdk
edge-TTS
flask_socketio
langchain
langchain_groq
langchain_openai
langchain_ollama
openai-whisper
PyAudio
pydub
python-dotenv
sounddevice
torchdiffeq
x_transformers
jieba
pypinyin
wandb
accelerate
ema_pytorch
datasets
matplotlib
transformers
vocos
pysoundfile
librosa
faster-whisper